body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	text-align: center;
}

#start {
	display: flex;
	flex-direction: column;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#first {
	background-color: pink;
}

#second {
	background-color: blue;
}

.poke-img {
	display: block;
	width: 100px;
	height: 100px;
}